<nav class="mainNavBar">
    <img src="/images/logo.png" alt="logo">
    <h1>"Welcome to Poets Winery where the wine inspire poetry"</h1>
</nav>
<nav class="navBar">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/api/products"><li>Productos</li></a>
        <a href=""><li>Marcas</li></a>
        <a href=""><li>Categorías</li></a>
        <a href=""><li>Nosotros</li></a>
        <a href=""><li>Contacto</li></a>
    </ul>
    
</nav>