<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    
    <article class="mainImage">
        <img src="images/products/mainImage.jpg" alt="image">

    </article>
    
</body>
</html>